[Desktop Entry]
Type=Application
Name=Veneer
Comment=Widget Manager for Eww
Exec=veneer
Icon=veneer
Terminal=false
Categories=Utility;Settings;
Keywords=widgets;eww;desktop;manager;
